<nav>
    <ul>
        <li><a href="{{ path('app_espace_client') }}">Accueil</a></li>
        <li><a href="{{ path('app_client_profile') }}">Mes Coordonnées</a></li>
        <li><a href="{{ path('app_client_achat_credit') }}" target="_blank">Acheter des crédits</a></li>
        <li><a href="{{ path('app_client_reserver') }}">Réserver une salle de réunion</a></li>
        <li><a href="{{ path('app_client_facture') }}">Factures</a></li>
    </ul>
</nav>
