{% extends "base.html.twig" %}

{% block content %}
    <!-- Div externe avec l'image de fond -->
    <div class="background-container"></div>

    <!-- Formulaire d'inscription -->
    <div class="form-container">
        <div class="form-header">
            <img src="logo.png" alt="Panda Coworking" style="width: 120px;">
            <h2>Inscrivez-vous</h2>
        </div>

        <!-- Formulaire -->
        {{ form_start(inscriptionForm, {
                'action': path('app_inscription_client'),
                'method': 'POST',
                'attr':{'id':'clientForm'}
            })
        }}
            <!-- Choix de genre -->
            <div class="form-group">
                {{ form_widget(inscriptionForm.civilite) }}
                {{ form_errors(inscriptionForm.civilite) }}
            </div>
            <div class="form-row">
                <div class="form-group">
                    {{ form_label(inscriptionForm.prenom) }}
                    {{ form_widget(inscriptionForm.prenom) }}
                    <span class="text-danger text-left" data-page="1">{{form_errors(inscriptionForm.prenom) }}</span>
                </div>
                <div class="form-group">
                    {{ form_label(inscriptionForm.nom) }}
                    {{ form_widget(inscriptionForm.nom) }}
                    <span class="text-danger text-left" data-page="1">{{form_errors(inscriptionForm.nom) }}</span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    {{ form_label(inscriptionForm.emailPrincipal) }}
                    {{ form_widget(inscriptionForm.emailPrincipal) }}
                    <span class="text-danger text-left" data-page="1">{{form_errors(inscriptionForm.emailPrincipal) }}</span>
                </div>
                <div class="form-group">
                    {{ form_label(inscriptionForm.emailFacturation) }}
                    {{ form_widget(inscriptionForm.emailFacturation) }}
                    <span class="text-danger text-left" data-page="1">{{form_errors(inscriptionForm.emailFacturation) }}</span>
                </div>

            </div>
            <div class="form-row">
                <div class="form-group">
                    {{ form_label(inscriptionForm.password) }}
                    {{ form_widget(inscriptionForm.password) }}
                    <span class="text-danger text-left" data-page="1">{{form_errors(inscriptionForm.password) }}</span>
                </div>
                <div class="form-group">
                    {{ form_label(inscriptionForm.confirm_password) }}
                    {{ form_widget(inscriptionForm.confirm_password) }}
                    <span class="text-danger text-left" id="password-error" style="display: none;">Les mots de passe ne correspondent pas.</span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    {{ form_label(inscriptionForm.adresse) }}
                    {{ form_widget(inscriptionForm.adresse) }}
                    <span class="text-danger text-left" data-page="1">{{form_errors(inscriptionForm.adresse) }}</span>
                </div>
                <div class="form-group">
                    {{form_label(inscriptionForm.tel)}}
                    {{form_widget(inscriptionForm.tel)}}
                    <span class="text-danger text-left" data-page="1">{{form_errors(inscriptionForm.tel) }}</span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    {{ form_label(inscriptionForm.ville) }}
                    {{ form_widget(inscriptionForm.ville) }}
                    <span class="text-danger text-left" data-page="1">{{form_errors(inscriptionForm.ville) }}</span>
                </div>
                <div class="form-group">
                    {{ form_label(inscriptionForm.region) }}
                    {{ form_widget(inscriptionForm.region) }}
                    <span class="text-danger text-left" data-page="1">{{form_errors(inscriptionForm.region) }}</span>
                    {{ form_label(inscriptionForm.codePostal) }}
                    {{ form_widget(inscriptionForm.codePostal) }}
                    <span class="text-danger text-left" data-page="1">{{form_errors(inscriptionForm.codePostal) }}</span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    {{ form_label(inscriptionForm.pays) }}
                    {{ form_widget(inscriptionForm.pays) }}
                    <span class="text-danger text-left" data-page="1">{{form_errors(inscriptionForm.pays) }}</span>
                </div>
                <div class="form-group">
                    {{ form_label(inscriptionForm.raisonSociale) }}
                    {{ form_widget(inscriptionForm.raisonSociale) }}
                    <span class="text-danger text-left" data-page="1">{{form_errors(inscriptionForm.raisonSociale) }}</span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    {{ form_label(inscriptionForm.numTva) }}
                    {{ form_widget(inscriptionForm.numTva) }}
                    <span class="text-danger text-left" data-page="1">{{form_errors(inscriptionForm.numTva) }}</span>
                </div>
                {#<div class="form-group">
                    {{ form_label(inscriptionForm.tvaApplicable) }}
                    {{ form_widget(inscriptionForm.tvaApplicable) }}
                    <span class="text-danger text-left" data-page="1">{{form_errors(inscriptionForm.tvaApplicable) }}</span>
                </div>#}
            </div>

            <div class="form-row">
                <div class="form-group">
                    {{ form_label(inscriptionForm.siret) }}
                    {{ form_widget(inscriptionForm.siret) }}
                    <span class="text-danger text-left" data-page="1">{{form_errors(inscriptionForm.siret) }}</span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    {{ form_label(inscriptionForm.ribIban) }}
                    {{ form_widget(inscriptionForm.ribIban) }}
                    <span class="text-danger text-left" data-page="1">{{form_errors(inscriptionForm.ribIban) }}</span>
                </div>
                <div class="form-group">
                    {{ form_label(inscriptionForm.ribBic) }}
                    {{ form_widget(inscriptionForm.ribBic) }}
                    <span class="text-danger text-left" data-page="1">{{form_errors(inscriptionForm.ribBic) }}</span>
                </div>
            </div>

            <!-- Checkbox -->
            <div class="form-group">
                <label>
                    {{ form_widget(inscriptionForm.recevoir) }}
                    Je souhaite recevoir les offres et communications Panda Coworking
                </label>
            </div>

            <!-- Bouton d'inscription -->
            <button type="submit" class="btn btn-custom">CRÉER MON COMPTE</button>

            <p class="small-text">*Champs obligatoires</p>
        {{ form_end(inscriptionForm) }}
    </div>

    {% block javascripts %}
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                document.getElementById('client_recevoir').removeAttribute('required');

                const form = document.getElementById('clientForm');
                const password = document.getElementById('client_password');
                const confirmPassword = document.getElementById('client_confirm_password');
                const passwordError = document.getElementById('password-error');

                form.addEventListener('submit', function(event) {
                    // Vérification des mots de passe
                    if (password.value !== confirmPassword.value) {
                        event.preventDefault(); // Empêcher la soumission du formulaire
                        passwordError.style.display = 'block'; // Afficher le message d'erreur
                    } else {
                        passwordError.style.display = 'none'; // Cacher le message si tout est bon
                    }
                });
            });
        </script>
    {% endblock %}
{% endblock %}
